body{
    margin: 0px;
    padding: 0px;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Arial Narrow Bold', sans-serif;
}

    div#menu{
        position: fixed;
        background: black;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
        width: 100vw;
        max-height: 50px;
        height: 100px;
    }

        nav{
            color: white;
            font-size: 1.1em;
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }

        #menu ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
        }
         
            li{
                color: white;
                flex: 1 1 150px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                a{
                    text-decoration: none;
                    color: white;
                }

    div#corpo{
        height: 100%;
        width: 100vw;
    }

        div.secao{
            height: 760px;
            padding: 0rem 0rem;
        }

            div#secao1{
                background-color: #B14900;
            }

                div#texto{
                    display: inline-block;              
                    width: 40vw;
                    height: 100%;
                    max-height: 700px;
                    margin-top: 300px;
                }

                    div#subtitulo{
                        color: white;
                    }

                    div#titulo{
                        font-size: 1.35em;
                        color: white;
                    }

                div#conteudo{
                    background-image: url(imagens/logo\ comercial\ castro\ white.png);
                    background-repeat: no-repeat;
                    background-attachment: local;
                    background-position: center center;
                    background-size: contain;
                    float: right;
                    width: 40vw;
                    height: 150px;
                    margin-top: 350px;
                }
                    
div#secao2{
    background: black;
}

    div#conteudo2{
        background-image: url(imagens/pexels-mikael-blomkvist-8961555.jpg);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center center;
        background-size: cover;
        float: right;
        width: 40vw;
        height: 700px;
    }

    div#texto2{
        display: inline-block;              
        width: 50vw;
    }

        div#titulo2{
            color: white;
            font-size: 1.5em;
            width: 50vw;
            height: 50px;
            margin-top: 250px;
            margin-bottom: 10px;
        }

        div#subtitulo2{
            font-size: 1.3em;
            text-align: justify;
            margin-top: 30px;
            color: white;
            width: 50vw;
            height: 100%;
            max-height: 145px;
        }

        div#plista{
            color: white;
            font-size: 1.04em;
            width: 50vw;
            height: 100%;
            max-height: 250px;
            margin-top: 25px;
            padding: 0;
        }
            #lista2{
                color: white;
                display: grid;
                grid: 1rem;
                grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
                list-style-type: none;
                padding: 0;
            }

#secao3{
    background: #B14900;
}
    
    div.conteudo3{
        background-image: url(imagens/whatsapp.jpg);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center center;
        background-size: cover;
        display: inline;
        float: left;
        width: 100%;
        max-width: 488px;
        height: 100%;
        max-height: 614px;
        margin-top: 5%;
        margin-left: 20%;
    }
    
    #texto3{
        display: inline-block;              
        width: 40%;
    }

        #titulo3{
            color: white;
            font-size: 1.5em;
            width: 100%;
            max-width: 350px;
            height: 200px;
            margin-top: 10%;
            margin-left: 25px;
        }

        #subtitulo3{
            text-align: justify;
            font-size: 1.3em;
            margin-top: 25px;
            margin-left: 25px;
            color: white;
            width: 80%;
            height: 100%
        }

#secao4{
    background: black;
    color: white;
}
    
    div.conteudo4{
        background-image: url(imagens/unnamed.png);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center center;
        background-size: cover;
        width: 100%;
        max-width: 385px;
        height: 100%;
        max-height: 392px;
        margin-top: 20PX;
    }
    
    #texto4{
        display: inline-block;
        width: 100%;              
        max-width: 500px;
        height: 100%;
        margin-left: 20%;
    }

        #titulo4{
            color: white;
            font-size: 1.5em;
            height: 120px;
            margin-top: 100px;
        }

    #qualidades{
        font-size: 1em;
        float: right;
        height: 100%;
        max-height: 200px;
        margin-right: 20%;
        width: min(100% - 30px, 300px);
        margin-top: 250px;   
    }