body{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

    div#menu{
        position: fixed;
        top: 10px;
        background: lightblue;
        width: 100%;
        height: 40px;
    }

    div#corpo{
        background: lightcoral;
        height: 100%;
        margin-top: 5%;
        
    }

        div.secao{
            
            height: 760px;
            width: 90%;
            background: limegreen;
            margin: 5%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

            div#secao1{
                background-color: #B14900;
            }

                div#texto{
                    background: rgb(233, 127, 22);
                    display: inline-block;              
                    width: 40%;
                }

                    div#subtitulo{
                        margin-top: 100px;
                        margin-left: 20%;
                        color: white;
                        background: black;
                        width: 95%;
                        max-width: 100px;
                        height: 100%;
                        height: 100px;
                    }

                    div#titulo{
                        background: black;
                        color: white;
                        width: 100%;
                        max-width: 300px;
                        height: 440px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        margin-left: 20%;
                    }

                div#conteudo{
                    background-image: url(imagens/1.mg.jpg);
                    background-repeat: no-repeat;
                    background-attachment: local;
                    background-position: center center;
                    background-size: cover;
                    float: right;
                    background-color: black;
                    width: 50%;
                    height: 660px;
                    margin-top: 100.4px;
                    margin-right: 2.5%;
                }
            div#secao2{
                background: lightcyan;
            }

                div#conteudo2{
                    background-image: url(imagens/pexels-mikael-blomkvist-8961555.jpg);
                    background-repeat: no-repeat;
                    background-attachment: local;
                    background-position: center center;
                    background-size: cover;
                    float: right;
                    background-color: lightgreen;
                    width: 50%;
                    height: 660px;
                    margin-top: 0px;
                }

                div#texto2{
                    background: white;
                    display: inline-block;              
                    width: 40%;
                }

                    div#titulo2{
                        background: black;
                        color: white;
                        font-size: 1.5em;
                        width: 100%;
                        max-width: 300px;
                        height: 50px;
                        margin-top: 250px;
                        margin-bottom: 10px;
                        margin-left: 20%;
                    }

                    div#subtitulo2{
                        font-size: 1.3em;
                        margin-top: 30px;
                        margin-left: 20%;
                        color: white;
                        background: black;
                        width: 100%;
                        max-width: 364px;
                        height: 100%;
                        max-height: 145px;
                    }

                    div#plista{
                        background: black;
                        color: white;
                        font-size: 1.1em;
                        width: 100%;
                        max-width: 500px;
                        height: 100%;
                        max-height: 250px;
                        margin-top: 25px;
                        margin-bottom: 0px;
                        margin-left: 5%;
                    }
                        #lista2{
                            display: flex;
                            flex-wrap: wrap;
                            list-style-type: none;
                        }

                            .intens2{
                                color: #B14900;
                                flex: 1 1 150px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

